  #pane{
        -fx-background-image: url("7.jpg");
        -fx-background-repeat: stretch;   
        -fx-background-size: 900 550;
        -fx-background-position: center center;
        -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 
    }